@import url("https://fonts.googleapis.com/css?family=Aleo:400,700|Nanum+Gothic:400,700");
/* kleuren */
header {
  background-color: #B84232;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #ffffff;
}

.herken {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.herken h2 {
  margin-top: 3.2em;
}

h3 {
  font-weight: normal;
  text-align: center;
  margin-top: -0.6em;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote h2 {
  text-align: center;
  font-weight: normal;
  font-size: 3vw;
  margin-top: 3.2em;
}

.oorzaken-big p {
  margin-bottom: 3.2em;
}

.oorzaken-big h2 {
  margin-top: 3.2em;
}

.oorzaken-small {
  margin-bottom: calc(100px + 3.2em);
}

.oorzaken-small p {
  font-size: 1.8vmin;
}

.symptoms p {
  font-size: 1.8vmin;
  margin-bottom: 3.2em;
}

/* kleuren */
header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rij {
  margin-top: 3.2em;
}

.lotgenoten {
  background-color: #37313F;
  padding: 2em;
}

.lotgenoten h2 {
  color: #ffffff;
}

.lotgenoten p {
  color: #ffffff;
}

.herstel-small p {
  font-size: 1.8vmin;
  margin-bottom: 190px;
}

/* kleuren */
/* responsive */
/*title postition*/
/*alignment*/
/*images*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  color: #000;
}

html {
  height: 100%;
}

body {
  background-color: transparent;
}

.img {
  position: relative;
  left: -5px;
  top: -70px;
  width: 70vw;
  height: auto;
}

@media (min-width: 400px) {
  .img {
    position: relative;
    left: -5px;
    top: -100px;
    width: 100vw;
    height: auto;
  }
}

nav {
  z-index: 2000;
  background-color: #484848;
  opacity: 0.9;
}

.nav-item {
  padding-left: 3.2em;
}

.navbar-brand h4 {
  margin-left: 1em;
  margin-top: 0.2em;
}

h1, h2, h3, h4 {
  font-family: "Aleo", serif;
  font-weight: bold;
  color: #37313F;
}

h1 {
  font-size: 5.9vw;
}

h2 {
  font-size: 3.8vw;
  margin-bottom: 0.7em;
}

@media (min-width: 400px) {
  h2 {
    margin-bottom: 1em;
  }
}

h3 {
  font-size: 2.4vw;
  font-weight: normal;
}

h4 {
  font-size: 1.1 em;
}

p {
  font-size: 2vmin;
  line-height: 1.6;
  margin-bottom: 0.8em;
}

@media (min-width: 400px) {
  p {
    line-height: 1.9;
  }
}

footer {
  background-color: #37313F;
  padding: 25px;
  color: #ffffff;
  text-align: center;
  font-size: 1.5vmin;
}

@media (min-width: 400px) {
  footer {
    padding: 60px;
    text-align: center;
    margin-top: -108px;
  }
}

.titel,
.subtitel {
  max-width: 700px;
  position: absolute;
  left: 27vw;
}

.titel {
  top: 570px;
}

.subtitel {
  top: 1350px;
}

.active a {
  color: #B84232 !important;
  font-weight: 700;
}

/*mediaqueries*/
@media (max-width: 1270px) {
  .titel {
    top: 450px;
  }
  .subtitel {
    top: 950px;
  }
}

@media (max-width: 1000px) {
  .titel {
    top: 350px;
  }
  .subtitel {
    top: 750px;
  }
}

@media (max-width: 930px) {
  .titel {
    top: 330px;
  }
  .subtitel {
    top: 670px;
  }
}

@media (max-width: 852px) {
  .titel {
    top: 300px;
  }
  .subtitel {
    top: 610px;
  }
}

@media (max-width: 780px) {
  .titel {
    top: 230px;
  }
  .subtitel {
    top: 580px;
  }
}

@media (max-width: 700px) {
  .titel {
    top: 220px;
  }
  .subtitel {
    top: 500px;
  }
}

@media (max-width: 623px) {
  .titel {
    top: 160px;
  }
  .subtitel {
    top: 430px;
  }
}

@media (max-width: 506px) {
  .titel {
    top: 150px;
  }
  .subtitel {
    top: 330px;
  }
}

@media (max-width: 450px) {
  .titel {
    top: 120px;
  }
  .subtitel {
    top: 300px;
  }
}

@media (max-width: 420px) {
  .titel {
    top: 235px;
  }
  .subtitel {
    margin-top: 17px;
    left: 0vw;
  }
  .subtitel h2 {
    color: #ffffff;
    padding: 10px 2px 10px 25px;
    background-color: #37313F;
  }
  .subtitel p {
    padding-left: 25px;
    padding-right: 25px;
  }
  footer {
    margin-top: 113px;
  }
}

@media (max-width: 350px) {
  .titel {
    top: 80px;
  }
  .subtitel {
    top: 220px;
  }
}
/*# sourceMappingURL=style.css.map */